@font-face {
    font-family: 'Navbar Title';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Logo';
    src: url('../fonts/Mogra/Mogra-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Footer';
    src: url('../fonts/WorkSans/WorkSans-VariableFont_wght.ttf')
        format('truetype');
}

/* -------------------------------------------------------------------------- *
 *                                   Globals
 * -------------------------------------------------------------------------- */
:root {
    --shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.45), 0px 6px 32px 0 rgba(0, 0, 0, 0.25);
    --shadow--small: 1px 1px 4px rgba(0, 0, 0, 0.5);
    --shadow--text: 1px 1px 1px rgba(0, 0, 0, 0.5);
    --shadow--dialog: 0px 4px 16px 0 rgba(0, 0, 0, 0.25), 0px 6px 32px 0 rgba(0, 0, 0, 0.15);

    --shadow--button: 2px 2px 2px rgba(0, 0, 0, 0.7);
    --shadow--button-elevated: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

/* -------------------------------------------------------------------------- *
 *                                    Chip
 * -------------------------------------------------------------------------- */
.chip {
    display: inline-block;

    margin: 20px 20px 0 0;
    padding: 15px 20px 10px;

    color: var(--gray-8);
    background-color: var(--gray-1);
    border: 1px solid var(--gray-4);
    border-radius: 6px;

    font-family: monospace;
    font-weight: 600;
    font-size: 2rem;
}

/* -------------------------------------------------------------------------- *
 *                              Profile pictures 
 * -------------------------------------------------------------------------- */
.rounded-profile-picture {
    display: block;
    margin: 5.6em auto 0;
    width: 70%;
    max-width: 35rem;
    border-radius: 50%;
}

/* -------------------------------------------------------------------------- *
 *                                   Button
 * -------------------------------------------------------------------------- */
.button {
    display: block;
    margin-top: 3.5rem;
    padding: 1.6rem 0;
    width: 16rem;

    text-align: center;
    text-decoration: none;
    font-size: 2rem;

    color: var(--gray-9);
    background-color: var(--gray-1);

    border: 1px solid transparent;
    border-radius: 1rem;
}

.button--primary {
    color: var(--gray-1);
    background-color: var(--signature-color);
}

.button--float {
    box-shadow: var(--shadow--button);
}

.button--float:hover {
    transform: translateX(-1px) translateY(-1px);
    box-shadow: var(--shadow--button-elevated);
    filter: brightness(96%);
}

/*--------------------------------- Button group -----------------------------*/
.button-group {
    display: flex;
    gap: 3.5rem;
    width: 100%;
}

/* -------------------------------------------------------------------------- *
 *                                   Signature
 * -------------------------------------------------------------------------- */
.signature {
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 5rem;
}

.signautre__logo {
    margin: 0;
    padding: 1rem 1rem 0.5rem;
    width: fit-content;

    color: var(--gray-0);
    background-color: var(--signature-color);

    font-family: 'Logo', cursive, sans-serif;
    font-size: 3rem;
    border-radius: 0.5rem;
}

.signature__name {
    margin-top: 0;
    padding-left: 1rem;

    color: var(--gray-9);

    font-family: 'Navbar Title', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* -------------------------------------------------------------------------- *
 *                                     Navbar
 * -------------------------------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    position: fixed;
    top: 0;

    padding: 1rem;
    width: 100%;
    min-width: 47rem;

    background-color: var(--gray-0);
    box-shadow: var(--shadow--small);
}

/*-------------------------------- Toggler menu ------------------------------*/
.menu-toggler {
    width: 5rem;
    height: 5rem;
    padding: 1rem;

    font-size: 3rem;
    text-align: center;

    color: var(--signature-color);
    background-color: var(--gray-2);

    border: 1px solid var(--gray-2);
    border-radius: 5px;
}

/*------------------------------ Navigation menu -----------------------------*/
.navmenu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 1.25rem;
    width: 100%;
    list-style-type: none;
}

.navmenu:not(.show) {
    display: none;
}

.navitem:hover {
    transform: translateX(-1px) translateY(-1px);
    border-radius: 5px;
    background-color: var(--signature-color-light);
}

.navlink {
    display: block;
    margin-top: 0;
    padding: 1.25rem;
    width: 100%;

    color: var(--gray-9);
    font-size: 3.5rem;
    text-decoration: none;
    letter-spacing: -2px;
}

.navitem:hover .navlink {
    color: var(--gray-2);
    text-shadow: var(--shadow--text);
}

/*---------------------------- Navigation container --------------------------*/
.navicon-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* -------------------------------------------------------------------------- *
 *                                   Section   
 * -------------------------------------------------------------------------- */
.section {
    width: 100%;
    padding-top: 9rem;
    padding-bottom: 14rem;
}

/* -------------------------------------------------------------------------- *
 *                                    Title    
 * -------------------------------------------------------------------------- */
.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* -------------------------------------------------------------------------- *
 *                                    Dialog   
 * -------------------------------------------------------------------------- */
.dialog {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: min-content auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 1rem 1rem 2rem;
    margin: 0.5rem;

    background-color: var(--accent-color);
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: var(--shadow--dialog);
}

.dialog--no-header {
    grid-template-columns: auto min-content;
    grid-template-rows: min-content;
    width: 100%;
}

.dialog__title {
    margin: 0;
}

.dialog__close-button {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;

    padding: 0.25rem;
    width: 3rem;
    height: 3rem;
    position: relative;

    background: none;
    color: var(--gray-8);
    background-color: var(--gray-3);

    font-size: 2rem;
    font-family: Roboto, sans-serif;
    font-weight: 600;

    border: 0;
    border-radius: 50%;
}

.dialog--no-header .dialog__close-button {
    align-self: start;
}

.dialog__content {
    color: var(--gray-4);
    grid-column: 1 / span 2;
}

.dialog--no-header .dialog__content {
    grid-column: 1 / 2;
}

.dialog-message {
    margin: 0;
}

/* -------------------------------------------------------------------------- *
 *                                      Form 
 * -------------------------------------------------------------------------- */
.form {
    margin: 9rem auto 0;
    padding: 3.5rem;

    background-color: var(--gray-0);

    border: 1px solid var(--gray-3);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.form > label {
    display: block;
    margin-top: 3.5rem;

    color: var(--gray-7);
    font-size: 2rem;
}

label > .input {
    display: block;
    margin-top: 1.5rem;
    padding: 1.5rem;
    width: 100%;

    font-size: 2rem;
    line-height: 1.5;

    color: var(--gray-6);
    border: 1px solid var(--gray-3);
    border-radius: 5px;
}

label > textarea.input {
    resize: vertical;
}

.form > .button-group {
    flex-direction: row-reverse;
}

/* -------------------------------------------------------------------------- *
 *                                    Toaster
 * -------------------------------------------------------------------------- */
.toaster {
    display: none;
    flex-direction: column;
    align-items: center;

    margin: 0 auto 2rem;
    padding: 1rem;
    width: 100%;
    min-width: 360px;
    max-width: 80rem;

    position: sticky;
    bottom: 2rem;

    visibility: hidden;
}

.toaster:not(.show) {
    animation: fadeout 0.6s 2.5s;
}

.toaster.show {
    animation: fadein 0.6s;
    display: flex;
    visibility: visible;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30;
        opacity: 95%;
    }
}

@keyframes fadeout {
    from {
        bottom: 30;
        opacity: 95%;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
