/*----------------------------- Customizations -------------------------------*/
header,
main,
footer {
    min-width: 360px;
}

.title {
    max-width: 68rem;
}

.title p {
    font-size: 2.2rem;
}

/*----------------------------------- HOME -----------------------------------*/
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

/*----------------------------------- ABOUT ----------------------------------*/
.about-section {
    background-color: var(--gray-0);
}

.information {
    margin: 5.6rem auto 0;
    width: 90%;
}

.about-section .rounded-profile-picture {
    display: none;
}

.about-section .button-group {
    margin-top: 3.5rem;
}

/*------------------------------------ PORTFOLIO -----------------------------*/
.portfolio-section {
    background-color: var(--signature-color);
}

.portfolio-section .title {
    color: var(--gray-1);
}

.portfolio-project-container {
    width: 95%;
    margin: 9rem auto 0;
}

.portfolio-project {
    padding: 3.5rem;
    margin: 9rem 2.2rem;

    background-color: var(--gray-0);
    border-radius: 3px;
}

.portfolio-project img {
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

/*--------------------------------- CONTACT ----------------------------------*/
.form {
    width: 90%;
}

/*---------------------------------- FOOTER ----------------------------------*/
.footer {
    display: grid;
    grid-template-areas: 'information' 'links';
    justify-content: center;
    align-content: strech;
    gap: 3.5rem;

    padding: 2rem;
    width: 100%;

    background-color: var(--gray-0);
}

.footer__information {
    grid-area: information;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.footer__note {
    margin-top: 0;
    color: var(--accent-color);
    font-family: 'Footer', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}

.navicon-container {
    grid-area: links;
}

.navicon {
    font-size: 5.6rem;
    color: var(--signature-color);
}

.navicon .fa-circle-arrow-up {
    position: fixed;
    bottom: 2.8rem;
    right: 2rem;

    background-color: var(--gray-0);
    border: 1px solid var(--gray-0);
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.navicon .fa-circle-arrow-up.static-position {
    position: static;
    box-shadow: none;
}
