@media (min-width: 720px) {

/* -------------------------------------------------------------------------- *
 *                                     Navbar
 * -------------------------------------------------------------------------- */

/*------------------------------ Navigation menu -----------------------------*/
.navmenu {
	flex-direction: row;
	gap: 4rem;
	margin-top: 0;
	padding-left: 0;
	width: fit-content;
}

.navmenu:not(.show) {
	display: flex;
}

i.menu-toggler {
	display: none;
}

.navlink {
	font-size: 3.2rem;
}

/* -------------------------------------------------------------------------- *
 *                                      Form 
 * -------------------------------------------------------------------------- */
.form {
	max-width: 90rem;
}

}
