@media (min-width: 1140px) {

/*------------------------------------ PORTFOLIO -----------------------------*/
.portfolio-project {
	display: grid;
	grid-template-columns: 4fr 5fr;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}

.portfolio-project_title {
	margin-top: 0;
}

/*----------------------------------- HOME -----------------------------------*/
.home-section {
	height: 100vh;
	background-image: url('../../images/profile-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
}

.rounded-profile-picture {
	display: none;
}

.introduction {
	width: 40%;
	margin: 8% auto auto 8%;
}

.introduction .title {
	width: 100%;
	color: var(--gray-4);
}

.introduction .button {
	color: var(--gray-9);
	background-color: var(--gray-1);
}

/*----------------------------------- ABOUT ----------------------------------*/
.information {
	margin-top: 9rem;
	grid-template-columns: auto 50rem;
}

}
