@media (min-width: 1400px) {

/*----------------------------------- ABOUT ----------------------------------*/
.information {
	grid-template-columns: auto 65rem;
}

/*------------------------------------ PORTFOLIO -----------------------------*/
.portfolio-project-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;
}

.portfolio-project {
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
}

}
