@media (min-width: 540px) {

/*---------------------------------- FOOTER ----------------------------------*/
.footer {
	grid-template-areas: 'information links';
	justify-content: space-between;
}

.footer__information {
	text-align: start;
}

.navicon-container {
	justify-content: flex-end;
	align-items: center;
}

}
